.top {
    padding: 10px;
    border-bottom: 2px solid #6497B1;
}

.top, .book-cont{
    font-family: 'Times New Roman', Times, serif;
}

.top h1{
    font-weight: 400;
    font-size: 45px;
}

.book-cont {
    height: 600px;
}

p{
    font-size: 22px;
}
