@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.error-font{
    color: red;
    font-weight: 600;
    margin:10px;
}
.success-font{
    color: green;
    font-weight: 700;
    margin:30px 0px;
}
body{
    font-family: 'Merriweather', serif;
}

/* Te Pergjithshme */
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.btn{
    font-size: 12px;
    color: #fff;
    background: #333;
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn:hover{
    background: #8b7967;
}

.font-color-black{
    color: #000;
    font-weight: bold;
}

.input-error{
    box-shadow: 0 0 5px red;
}
/* Header */
#toggle{
    background-image: url('../img/toggle.png');
    background-size: cover;
    width: 50px;
    border: none;
    background-color: transparent; 
    height: 50px;
    border-radius: 100%;
}
#toggle:hover{
    background-color: #d3c0a7; 
}
#togglenav{
    position: absolute;
    right: 70%;
    bottom: 0%;
    display: block;
    width: 400px;
    background: #222222;
    top: 75px;
    overflow: hidden;
    transition: height 300ms ease-in;
    height: 0px;
    border-top: none;
}

#togglenav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#togglenav li{
    margin: 10px 0;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}
#togglenav li a{   
    font-size: 20px;
    font-size: 25px;
    font-weight: 900;
    
    text-align: center;
    color: white;  
}
#togglenav li a:hover{
    color: tomato;
}
header{
    background: rgba(234,192,134, 0.8);
    padding: 12.5px 0;
    color: #333;
    box-shadow: inset 0 1px 5px #333;
    position: sticky;
    top: 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li a{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
}

header ul li a:hover{
    background: #8b7967;
}

/* Showcase */
section{
    background: linear-gradient(
    rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../img/alb.jpg') no-repeat center center/cover;
    height: 115vh;
}

section .showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 108vh;
    color: #fff;
}

section .showcase h1{
    margin: 20px;
    font-size: 50px;
    text-align: center;
}
section .showcase p{
    text-align: center;
}

#facilities{ 
    margin: 50px 0;
}

#facilities .container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facilities .facilities-box{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#facilities .facilities-box img{
    width: 70px;
}
#facilities .facilities-box h1{
    font-weight: 400;
    color: #333;
}
#facilities .facilities-box p{
    color: #717171;
    line-height: 1.88;
    text-align: center;
}

#quote{
    margin: 50px 0;
}

#quote .container{
    display: flex;
    height: 400px;
}

#quote img{
    flex: 1;
    width: 500px;
    height: 350px;
    margin: 20px;
}

#quote .quotes{
    flex: 1;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #333;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: #eac086;
    box-shadow: inset 0 1px 5px #333;
    color: #fff;
    font-size: 14px;
}


/* Login */
#modal-wrapper {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
}

#modal-wrapper .modal-content {
    background: #fff;
    margin: 120px auto;
    width: 350px; 
    padding: 35px 30px;
}

#modal-wrapper .modal-content .close{
    font-size: 40px;
    color: #000;
}
#modal-wrapper .modal-content .close:hover, 
#modal-wrapper .modal-content .close:focus {
    color: red;
    cursor: pointer;
}

#modal-wrapper .modal-content form{
    display: flex;
    flex-direction: column;
}

#modal-wrapper .modal-content form input{
    height: 40px;
    padding: 25px 20px;
    outline-color: #333;
    border: rgba(182, 180, 180, 0.897) 1px solid;
}

#modal-wrapper .modal-content form button{
    margin: 20px 0;
    padding: 15px 12px;
    border-radius: 0;
}

#modal-wrapper .modal-content .modal-logclose{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
#modal-wrapper .modal-content .modal-logclose h1{
    font-weight: 400;
}

#modal-wrapper .modal-content p{
    text-align: center;
    font-size: 12px;
}

/* Sign Up */
#signup-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 120 vh;
    margin: 20px 0;
}
#signup-con h1{
    font-weight: 400;
}
#signup-con p{
    font-size: 12px; 
    text-align: center;
}

#signup-con form .input-con{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

#signup-con form .input-con input,select{
    width: 300px;
    padding: 10px 20px;
    border: rgba(182, 180, 180, 0.897) 1px solid;
    outline-color: #333;
}
#signup-con form .input-con label{
    margin-bottom: 8px;
}

/* Book */
#book-con{
    background: linear-gradient(
    rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../img/beach.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 91.3vh;
    
}
#book-conn{
    background: linear-gradient(
    rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4) ),
    url('../img/beach.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 31.3vh;
    color:#fff;
    
}

.book-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(182, 180, 180, 0.897);
}

.book-form .input-con{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.book-form .input-con input,select{
    width: 200px;
    padding: 10px 20px;
    border: rgba(182, 180, 180, 0.897) 1px solid;
    outline-color: #333;
}
.book-form .input-con #rooms{
    width: 100px;
}

.book-form .input-con label{
    margin-bottom: 10px;
}

#book-con h1{
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
}
#book-con p{
    font-size: 12px; 
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-contactus{
    background: url('../images/contactus.jpg') no-repeat top center;
    background-size: cover;
    display: flex;
    top: 50%;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    height: 91.3vh;
  }
  
  .contact-form{
    display: flex;
    max-width: 550px;
    background: rgba(182, 180, 180, 0.897);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin:60px;
  }
  
  .contact-input{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
  }
  
  .contact-input,
  .msg-form{
    width: 48%;
  }
  
  .contact-input .input-contact,
  .msg-form textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #FF4136;
    padding: 10px;
    color: white;
    width: 100%;
    margin-bottom: 50px;
    color:white;
  }
  
  .msg-form textarea{
    height: 235px;
  }
  
  .btn-form{
      background: #39b7dd;
      text-align: center;
      padding: 15px;
      width: 50%;
      border: none;
      border-radius: 15px;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
  }
.btn-form:hover{
    background: #FF4136;
}
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
  }
  .ifram-contact{
    margin: 60px;
}

#header-offers{
    background: url('../images/offers.jpg') no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70.3vh;
    justify-content: center;
}
#header-offers h1{
    margin-bottom: 50px;
}
#offers{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
.offers-content{
    width: 60%;
    padding: 20px 10px;
}

.img-offers{
    width: 500px;
    flex-direction: row;
    padding: 20px 10px;
    overflow: hidden;
    height: 350px;
}
.img-offers img{
    width: 100%;
    height: 300px;
}
.header-offers{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom: 20px;
}
.titulli-offertes{
    font-size: 25px;
    margin-bottom: 5px;
}
.offer-price{
    padding: 10px 5px;
    background: #FF4136;
    color:white;
}
.offer-date{
    padding: 10px 5px;
    background: #e78c02;
    color:white;
}
.info-offertes{
    display: flex;
    font-size: 12px;
}
.info-offertes p {
    padding: 5px 0;
    border-right: 1px solid    #000;
    margin-right: 5px;
    padding-right: 10px;
    color: #717171;
}
.info-offertes a:last-child{
    color:red;
}
.info-offertes a{
    color: #717171;
}

.teksti-offertes{
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 40px;
}
.button-book{
    margin:20px 0;   
}
.button-book-btn{
    padding: 12px 20px;
    color: #000;
    background: #ffff;
    border:2px solid #FF4136;
    border-radius: 5px;
}
.button-book a:hover{
    background: #FF4136;
    color:white;
    cursor: pointer;
}
.button-offers{
    text-align: center;
    margin: 20px;
}
.view-more-offers{
    padding: 12px 20px;
    color:black;
    background: white;
    border:2px solid #0074D9;
    border-radius: 5px;
}

.view-more-offers:hover{
    background: #0074D9;
    color:white;
    cursor: pointer;
}
/*============================================About Us================================================*/
#banner{
    height: 300px;
    background: url('../img/aboutusbg.jpeg');
    border-bottom: 3px dotted black;
}
#banner h1{
    color: #fff;
    font-size: 40px;    
    text-align: center;
    padding: 60px 0;
}
#content{
    background-color: #f2dcdc;
}
#content .container{
    padding: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#content .content-txt,#content .content-img{
    margin: 30px auto;
    width: 45%;
}
.content-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-txt{
    text-align: center;
}
.content-txt h1{
    text-align: center;
    padding: 10px 80px;
}
.content-txt div{
    text-align: center;
    width: 30%;
}
.content-txt div img, .content-txt h2, .content-txt p{
    padding: 8px 0;
}
#page-info{
    background-color: #caf7d8;    
    border-top: 3px dotted orange;
}
#page-info .container{
    display: flex;
    justify-content: space-between;
}
#page-info .page-info-content{
    display: flex;
    align-items: center;
    margin: 30px auto;
}
.page-info-content div{
    font-weight: 600;
    margin: 0 25px;
}
/*=======================================Hotels==================================================*/
#hotels{
    background-color: #CAF7D8; 
}
#hotels .container{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel{
    display: flex;
    border-radius: 35px 0 35px 0;
    background-color: rgba(0,0,0,0.2);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    margin: 25px 10px;
    width: 45%;
    overflow: hidden;
    padding: 20px;
}
.hotel img{
    margin: 20px 0;    
}
.hotel span{
    margin: 20px 0;    
}
/* Book Hotels */
#book-hotel .container{
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}
#book-hotel .hotel-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 315px;
    margin: 15px;
    background: #8b7967;
    color: #fff;
}

#book-hotel .hotel-box p,
#book-hotel .hotel-box h1{
    margin: 40px 10px;

}

#book-hotel .hotel-box img{
    width: 315px;
    height: 155px;
}


/* MY BOOKS */
#mybooks{
    min-height: 90vh;
}

#mybooks .container{
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#mybooks h1{
    margin-top: 20px;
}

#mybooks .book-con{
    padding: 20px;
    background: #8b7967;
}
#mybooks table{
    width: 800px;
}

#mybooks table,
#mybooks table tr td,
#mybooks table tr th{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.offer-login{
    
    color:#FF4136;
    display: inline;
}
/*=======================================EditUsers==========================================*/
#users-edit{
    background: #89e5e3;
}

.users-edit-user input{
    font-weight: 800;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 30px 0;
    height: 50px;
    width: 400px
}
.users-edit-user input[type=submit]{
    width: 120px;
}
.users-edit-user form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 220px 200px;
}


.users-edit-user input:hover{
    background: #c99fbd;
}
#comments-section{
    overflow: hidden;
    display: flex;
    background: #F2DCDC;
    margin-top: 0px;
}
.comments-details{
    padding: 10px;
    width: 30%;
    border-right: 2px solid #FF4136;
}
.comments-details p{
    font-size: 12px;
    color: #717171;
    margin-top: 10px;
}
.comments-description{
    padding: 10px;
}

.text-comments{
    width: 100%;
    height: 70px;
    border:none;    
    border-radius: 15px;
    border:2px solid #0074D9;
    margin-bottom: 5px;
}
#error-border{
    border:1px solid red;
}